<div class="lo-container-ap-premium">
  <h6>Apply Now</h6>
  <form
    action="/"
    method="post"
    enctype="multipart/form-data"
  >
    <input
      type="hidden"
      name="organization"
      value="<%= school.name %>"
    />
    <input 
      type="hidden" 
      name="org_id" 
      value="<%= school._id %>" 
    />

    <label for="firstname">First Name</label>
    <input
      type="text"
      name="firstname"
      value="<%= isAuthenticated ? name : "" %>"
      autocomplete="given-name"
      required
    />

    <label for="lastname">Last Name</label>
    <input
      type="text"
      name="lastname"
      value="<%= isAuthenticated ? name : "" %>"
      autocomplete="family-name"
      required
    />

    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      value="<%= isAuthenticated ? email : "" %>"
      autocomplete="email"
      required
    />

    <label for="appliedForTrade">Trade of Interest</label>
    <input
      type="text"
      name="appliedForTrade"
      value=""
      autocomplete="organization-title"
      required
    />

    <div>
      <label for="resume" class="applicationlabel custom-file-label"
        ><em>Resume *pdf</em></label
      >
      <input
        type="file"
        name="resume"
        id="myFile"
        accept=".pdf"
        required
      />
    </div>

    <textarea
      placeholder="Additional Comments/Messages"
      name="additionalcomments"
      rows="6"
      cols="50"
      autocomplete="on"
    ></textarea>

    <button name="apply" type="submit">
      Submit Application
    </button>
  </form>
</div>
