<div class="lo-container-ap-premium">
  <h6 class="applicationheader">Apply Now</h6>
  <p class="lo-error-message">
    <% if (appError && appError.length !== 0) { %>
    <span><i class="fa fa-exclamation-triangle" aria-hidden="true"> </i> </span>
    <%=appError %> <% } %>
  </p>
  <form
    action="/"
    class="applicationform"
    method="post"
    enctype="multipart/form-data"
  >
    <input
      type="hidden"
      name="organization"
      value="<%= school.name %>"
    />
    <input type="hidden" name="org_id" value="<%= school._id %>" />

    <label class="applicationlabel" for="firstname">First Name</label>
    <input class="nameinput" type="text" name="firstname" value="<%=
    isAuthenticated ? firstName : "" %>" autocomplete="given-name" required />

    <label class="applicationlabel" for="lastname">Last Name</label>
    <input class="nameinput" type="text" name="lastname" value="<%=
    isAuthenticated ? lastName : "" %>" autocomplete="family-name" required />

    <label class="applicationlabel" for="email">Email</label>
    <input class="emailinput" type="email" name="email" value="<%=
    isAuthenticated ? email : "" %>" autocomplete="email" required />

    <label class="applicationlabel" for="appliedForTrade"
      >Trade of Interest
    </label>
    <input
      type="text"
      name="appliedForTrade"
      value=""
      autocomplete="organization-title"
      required
    />

    <div class="custom-file mb-3">
      <label for="resume" class="applicationlabel custom-file-label"
        ><em>Resume *pdf</em></label
      >
      <input
        type="file"
        name="resume"
        class="custom-file-input"
        id="myFile"
        accept=".pdf"
        required
      />
    </div>

    <textarea
      class="additionalcomments"
      placeholder="Additional Comments/Messages"
      name="additionalcomments"
      rows="6"
      cols="50"
      autocomplete="on"
    ></textarea>

    <button name="apply" type="submit" class="applybtn btn btn-primary">
      Submit Application
    </button>
  </form>
</div>
