<section class="indepthlist list-group lo-in-depth-list">
  <ul class="galleryUL" id="gallery2">
    <% let sortedSchools = [...schools] %> <% sortedSchools.sort((a, b) => { %>
    <% if (a.name < b.name) { %> <% return -1; %> <% } %> <% }); %> <%
    sortedSchools.forEach(function(school, i) { %>
    <li
      id="Item<%= i %>"
      class="indepthlistitema list-group-item list-group-item-action"
      href="#list-item-<%= i %>"
    >
      <div class="indepthlistitemcontainer">
        <div class="lo-logo-wrapper">
          <img class="companylogo" src="<%= school.logoUrl %>" alt="Logo" />
        </div>
        <div class="indepthlistitemtextcontainer">
          <a
            class="indepthlistitemOrganization"
            href="<%= school.siteUrl %>"
            target="_blank"
          >
            <strong><%= school.name %></strong></a
          >
          <br />
          <em class="indepthlistitemCategory"><%= school.type %></em>
          <br />
          <em class="indepthlistitemTrade"><%= school.programs %></em>
          <br />
          <em class="indepthlistitemCity"
            ><%= school.location.city %>, <%= school.location.state %></em
          >
        </div>
      </div>
      <br />
      <br />
      <hr />
      <strong class="descriptionlabel"> Description</strong>
      <p class="description"><%= school.description %></p>
      <hr />
      <strong class="tradesofferedlabel">Programs</strong>
      <p class="tradesoffered"><%= school.programs %></p>
      <hr />
      <%- include('./point-of-contact', {school: school}); %>
      <hr />

      <% if (school.premiumMembership) { %> <%- include('./application-premium',
      {school: school}); %> <% } else { %> <%- include('./application', {school:
      school}); %> <% } %>
    </li>
    <% }); %>
  </ul>
</section>
