<section class="basiclist list-group lo-basic-list">
  <section class="lo-search-wrapper">
    <input
      class="searchinput"
      type="text"
      id="searchInput"
      onkeyup="searchBar()"
      placeholder="Search by trade, city, or business..."
    />
    <i class="fa-solid fa-magnifying-glass"></i>
  </section>
  <ul class="galleryUL" id="lo-basic-list">
    <% let sortedSchools = [...schools] %> <% sortedSchools.sort((a, b) => { %>
    <% if (a.name < b.name) { %> <% return -1; %> <% } %> <% }); %> <%
    sortedSchools.forEach(function(school, i) { %>
    <li class="listentry">
      <a class="list-group-item list-group-item-action" href="#Item<%= i %>">
        <section class="lo-list-img-side">
          <div class="lo-logo-wrapper">
            <img class="companylogo" src="<%= school.logoUrl %>" alt="Logo" />
          </div>
        </section>
        <section class="basiclistitemtextcontainer lo-list-text-side">
          <strong class="basiclistitemOrganization"><%= school.name %></strong>
          <br />
          <em class="basiclistitemCategory"><%= school.type %></em>
          <br />
          <em class="basiclistitemTrade"
            ><%= school.programs %>
            <br />
            <em class="basiclistitemCity">
              <%= school.location.city %>, <%= school.location.state %></em
            ></em
          >
        </section>
      </a>
    </li>
    <% }); %>
  </ul>
</section>
