<section class="lo-favorites-list">
  <% let likedSchools = schools.filter(school => { %> <% return school.is_liked;
  %> <% }); %> 
  <% let howMany = likedSchools.length; %>
  <h5>
    <span>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </span>
    <span>&#183;</span>
    Favorites <% if (likedSchools.length !== 0) { %>
    <span><span>&#183; </span><%= howMany %></span>
    <% } %>
  </h5>
  <% if (likedSchools.length === 0) { %>
  <section class="lo-favorites-list-empty">
    <h3>No favorites yet</h3>
    <p>
      Keep track of the programs you're interested in by clicking the
      <span> <i class="fa-solid fa-heart"></i> </span> icon.
    </p>
    <a href="/">Find Programs</a>
  </section>
  <% } %>
  <ul>
    <% likedSchools.forEach(school => { %>
    <li>
      <a class="list-group-item" href="<%=school.siteUrl%>">
        <section class="lo-list-img-side">
          <div class="lo-logo-wrapper">
            <img class="companylogo" src="<%= school.logoUrl %>" alt="Logo" />
          </div>
        </section>
        <section class="lo-list-text-side">
          <h6><%= school.name %></h6>
          <p><%= school.type %></p>
          <p><%= school.programs %></p>
          <p><%= school.location.city %>, <%= school.location.state %></p>
        </section>
      </a>
      <aside class="lo-save-listing">
        <form action="/user-likes" method="POST">
          <input type="hidden" name="school_id" value="<%= school._id %>" />
          <button class="icon-button" type="submit">
            <i
              class="fa-solid fa-heart <%= school.is_liked ? 'liked' : '' %>"
            ></i>
          </button>
        </form>
      </aside>
    </li>
    <% }); %>
  </ul>
</section>
