<section class="lo-section-contact">
  <h6 class="pointofcontactlabel">Point of Contact</h6>
  <p><%= school.pointOfContact.name %></p>
  <a href="tel:<%= school.pointOfContact.number %>"
    ><%= school.pointOfContact.number %></a
  >
  <a href="mailto:<%= school.pointOfContact.email %>"
    ><%= school.pointOfContact.email %></a
  >
  <a href="<%= school.pointOfContact.contactUrl %>">Request information</a>
</section>
