<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="lo-body">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <section class="lo-section-main">
      <h3>
        Looking to kickstart a career in a skilled trade? Let BOE help you.
      </h3>
      <p class="lo-error-message">
        <% if (appError && appError.length !== 0) { %>
        <span
          ><i class="fa fa-exclamation-triangle" aria-hidden="true"> </i>
        </span>
        <%=appError %> <% } %>
      </p>
      <section class="lo-section-half lo-container">
        <!-- Basic Gallery -->
        <%- include('../partials/listings-basic'); %>

        <!-- In Depth Gallery  -->
        <%- include('../partials/listings-depth'); %>
      </section>
    </section>
    <!-- Footer Section -->
    <%- include('../partials/footer'); %>

    <!-- External JavaScript and jQuery -->
    <script src="/js/search.js"></script>
    <script src="/js/listings.js"></script>
  </body>
</html>
