<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="lo-body">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <section class="lo-section-main">
      <h3>
        Looking to kickstart a career in a skilled trade? Let BOE help you.
      </h3>

      <section class="lo-section-half lo-container">
        <!-- Basic Gallery -->
        <%- include('../partials/listings-basic'); %>

        <!-- In Depth Gallery  -->
        <%- include('../partials/listings-depth'); %>
      </section>
    </section>
    <!-- Footer Section -->
    <%- include('../partials/footer'); %>

    <!-- External JavaScript and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="server.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/listings.js"></script>
  </body>
</html>
