<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="lo-body lo-body-pop">
    <%- include('../partials/nav'); %>
    <section class="lo-section-main lo-section-main-tall">
      <h3>Looking to kickstart a career in a skilled trade? Join BOE.</h3>
      <div class="lo-container lo-container-small">
        <span class="lo-error-message">
          <% if (regError) { %> <%=regError %> <% } %>
          <% if (existError) { %> <%=existError %> <% } %>
        </span>
        <form class="form" action="/register" method="POST">
          <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required />
          </div>
          <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit">Sign Up</button>
        </form>
        <aside>
          <span>Already have an account?</span>
          <a href="/login">Log In</a>
        </aside>
      </div>
    </section>
    <!-- Footer Section -->
    <%- include('../partials/footer'); %>
  </body>
</html>
