<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="lo-body">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <section class="lo-section-half">
      
      <section>
        <!-- Sign Up Form -->
        <div class="lo-container">
          <%- include('../partials/form-subscribe'); %>
        </div>
      </section>
      <section>
        <!-- Worker Image Gallery -->
        <%- include('../partials/gallery-trade-ex'); %>
      </section>
    </section>

    <!-- Footer Section -->
    <%- include('../partials/footer'); %>
  </body>
</html>
